# ======================
# OS & SYSTEM FILES
# ======================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*~
.directory
.Trash-*

# ======================
# ENVIRONMENT
# ======================
.env
*.env
.vagrant
Vagrantfile

# ======================
# CI4 WRITABLE DIRS
# ======================
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/index.html

php_errors.log

# ======================
# PUBLIC UPLOADS
# ======================
public/uploads/*
!public/uploads/index.html

# ======================
# ROOT UPLOADS
# ======================
uploads/*
!uploads/index.html

# ======================
# COMPOSER
# ======================
vendor/

# ======================
# NODE
# ======================
node_modules/

# ======================
# IDE
# ======================
.idea/
.vscode/
*.iml
.php-version

# ======================
# TESTS & USER GUIDE
# ======================
tests/coverage*
results/
phpunit
phpunit*.xml

# ======================
# MISC
# ======================
_modules/
user_guide_src/build/
user_guide_src/cilexer/build/
user_guide_src/cilexer/dist/
user_guide_src/cilexer/pycilexer.egg-info/*
